<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://www.mt.demo.png</string>
		<key>displayImageURL</key>
		<string>https://www.mt.demo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://www.mt.demo.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.meitu.adpackage.MTPackerDemo</key>
		<string>mtec_dev_all_meitu</string>
	</dict>
	<key>signingCertificate</key>
	<string>7F8BB47CAE34D895E934C68C41A59CA89F110047</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>72RGKG7C8C</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
